.header {
    background-color: #eaf6e8;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    color: #565656;
  }
  